.footer_container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font2);
  padding: 0 15px;
}

.footer_container h4 {
  font-weight: 600;
}

.footer_container ul li {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  margin: 0 7px;
}

.footer_container h4 span {
  margin-right: 10px;
}
.footer_container h4 span img {
  display: inline-block;
}
